body{
  nav{
    background-color: rgb(193, 129, 83);
    width: 80%;
    height: 40px;
    ul{
      list-style: none;
      li{
        float: left;
        font-size: 2em;
        width: 25%;
        cursor: pointer;
        text-align: center;
      }
      li > ul{
        background-color: rgb(203, 145, 98);
        margin-top: 5px;
        display: none;
      }
      li:hover{
        background-color: rgb(182, 93, 28);
        color: white;
      }
      li:hover > ul{
        display: block;
      }
      li > ul > li{
        float: none;
        width: 90%;
        font-size: .7em;
      }
    }
  }
}
