<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conoce_Nuestra_Historia</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Noto+Serif+SC" rel="stylesheet">
	<link rel="stylesheet" href="../statics/css/conocenos.css">
  </head>
  <body>
        <h1>SOBRE<br/>NOSOTROS</h1>
			<div class="a" >
				<p>Allá por aquellos años, en que ya estaba para concluir el régimen colonial,
				era gobernador de León el famoso coronel Arrechavala, cuyo nombre no hay vieja
				que no lo sepa, y cuyas riquezas son proverbiales; que cuentan que tenía árboles de oro.</p>

				<p>El coronel Arrechavala era apreciado en la capitanía general de la muy noble y muy leal
				ciudad de Santiago de los Caballeros de Guatemala.</p>

				<p>Así es que en estas tierras era un reicito sin corona. Aún pueden mis lectores conocer
				los restos de sus posesiones pasando por la hacienda Los Arcos, cercana a León.</p>

				<p>Todas las mañanitas montaba el coronel uno de sus muchos caballos, que eran muy buenos,
				y como la echaba de magnífico jinete daba una vuelta a la gran ciudad, luciendo los
				escarceos de su cabalgadura.</p>

				<p>El coronel no tenía nada de campechano; al contrario, era hombre seco y duro; pero así y
				todo tenía sus preferencias y distinguía con su confianza a algunas gentes de la metrópoli.</p>
			</div>
			<section>
				<a href="menupizza.html" class="imagen"><div class="imagen">
					<!--<a href="menupizza.html" class="imagen"> <img src="../statics/images/pizzac.png" alt="IMAGEN PIZZA"> </a>-->
				</div></a>
			</section>
			<div class="" style="clear:both;width:100%"></div>
			<a href="proyectodesign.html"><button type="button">Regresar</button></a>
      <div id="limpiar"></div>
      <footer>
        Escuela Nacional Preparatoria Plantel 6 "Antonio Caso"<br/>
        Curso para el desarrollo web<br>
        Buenrostro Llanas Luis Manuel<br/>
        González Zambrano Luis Fernando<br/>
        López Chong Jorge Antonio<br/>
        Módulo: Diseño Web Adaptable con CSS3 y BOOTSTRAP4
      </footer>
  </body>
</html>
