<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Menú</title>
    <link rel="stylesheet" href="../statics/css/menu.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|PT+Mono" rel="stylesheet">
  </head>
  <body>
    <h1>MENÚ</h1>
    <div id="div">
      <div class="platillo">
        <img src="../statics/images/pizzapepe.png" alt="IMAGEN">
        Pizza Peperonni<br>$100
      </div>
      <div class="platillo">
        <img src="../statics/images/pizzahaw.png" alt="IMAGEN">
        Pizza Hawaiana<br>$100
      </div>
      <div class="platillo">
        <img src="../statics/images/pizzaqueso.png" alt="IMAGEN">
        Pizza Queso<br>$100
      </div>
      <div class="platillo">
        <img src="../statics/images/pizzamaf.png" alt="IMAGEN">
        Pizza Mafiosa<br>$150
      </div>
      <div class="platillo">
        <img src="../statics/images/pizzabol.png" alt="IMAGEN">
        Pizza Boloñesa<br>$150
      </div>
      <div class="platillo">
        <img src="../statics/images/pizzapan.png" alt="IMAGEN">
        Pizza Pan<br>$70
      </div>
    </div>
    <a href="proyectodesign.html"><button type="button" >Regresar</button></a>
    <div id="limpiar"></div>
    <footer>
      Escuela Nacional Preparatoria Plantel 6 "Antonio Caso"<br/>
      Curso para el desarrollo web<br>
      Buenrostro Llanas Luis Manuel<br/>
      González Zambrano Luis Fernando<br/>
      López Chong Jorge Antonio<br/>
      Módulo: Diseño Web Adaptable con CSS3 y BOOTSTRAP4
    </footer>
  </body>
</html>
