<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="../statics/css/estsuc.css">
    <title>Centro</title>
  </head>
  <body>
    <br><br><br><br><br><div class="">
      <h2>CENTRO</h2>
        <a class="btni">--- Coyotes Diana ---</a><br><br><br>
        <a class="btnl">- Coyotes Forum Buenavista -</a><br><br><br>
        <a class="btnj">- Coyotes Plaza Tlatelolco -</a><br><br><br>
        <a class="btnd">- Coyotes Zócalo -</a><br><br><br>
        <a class="btnk">- Coyotes Lindavista -</a><br><br><br>
    </div>
    <br><br><a href="sucursalespizza.html"><button type="button" name="button">Regresar</button></a>
    <footer>
      Escuela Nacional Preparatoria Plantel 6 "Antonio Caso"<br/>
      Curso para el desarrollo web<br>
      Buenrostro Llanas Luis Manuel<br/>
      González Zambrano Luis Fernando<br/>
      López Chong Jorge Antonio<br/>
      Módulo: Diseño Web Adaptable con CSS3 y BOOTSTRAP4
    </footer>
  </body>
</html>
