<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="../statics/css/estsuc.css">
    <title>Norte</title>
  </head>
  <body>
    <br><br><br><br><br><div class="">
      <h2>NORTE</h2>
        <a class="btnf">- Coyotes Azcapotzalco -</a><br><br><br>
        <a class="btng">- Coyotes Plaza Central -</a><br><br><br>
        <a class="btnf">-- Coyotes La Cúspide --</a><br><br><br>
        <a class="btnf">- Coyotes Plaza Cañada -</a><br><br><br>
        <a class="btnh">- Coyotes Plaza Tepeyac -</a><br><br><br>
    </div>
    <br><br><a href="sucursalespizza.html"><button type="button" name="button">Regresar</button></a>
  </body>
</html>
