<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="../statics/css/estsuc.css">
    <title>Oriente</title>
  </head>
  <body>
    <br><br><br><br><br><div class="">
      <h2>ORIENTE</h2>
        <a class="btnk">----   Coyotes Ermita    ----</a><br><br><br>
        <a class="btnh">--- Coyotes Plaza Central ---</a><br><br><br>
        <a class="btnj">- Coyotes Portal Churubusco -</a><br><br><br>
        <a class="btnh">-- Coyotes Plaza Tezontle  --</a><br><br><br>
        <a class="btnh">----  Coyotes Tezozómoc  ----</a><br><br><br>
    </div>
    <br><br><a href="sucursalespizza.html"><button type="button" name="button">Regresar</button></a>
  </body>
</html>
