<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="../statics/css/estsuc.css">
    <title>Sur</title>
  </head>
  <body>
    <br><br><br><br><br><div class="">
      <h2>SUR</h2>
        <a class="btnj">--- Coyotes Ajusco ---</a><br><br><br>
        <a class="btnj">--- Coyotes Copilco ---</a><br><br><br>
        <a class="btnl">-- Coyotes Miramontes --</a><br><br><br>
        <a class="btnl">- Coyotes Patio Tlalpan -</a><br><br><br>
        <a class="btnh">--- Coyotes Oasis ---</a><br><br><br>
    </div>
    <br><br><a href="sucursalespizza.html"><button type="button" name="button">Regresar</button></a>
  </body>
</html>
