<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="../statics/css/estsuc.css">
    <title>Sucursales</title>
  </head>
  <body>
    <h1>SUCURSALES</h1>
    <div class="">
      <h2>¿Cuál es tu zona?</h2>
        <a href="succenpizza.html" class="btna">Centro</a><br><br><br>
        <a href="sucsurpizza.html" class="btnb">Sur</a><br><br><br>
        <a href="sucnorpizza.html" class="btnc">Norte</a><br><br><br>
        <a href="sucoripizza.html" class="btnd">Oriente</a><br><br><br>
        <a href="sucponpizza.html" class="btne">Poniente</a><br><br><br>
    </div>
    <br><br><a href="proyectodesign.html"><button type="button" name="button">Regresar</button></a>
  </body>
</html>
